[submodule "resources/data/surrogate-test-data"]
	path = resources/data/surrogate-test-data
	url = ../surrogate-test-data.git
[submodule "resources/models/surrogate-test-models"]
	path = resources/models/surrogate-test-models
	url = ../surrogate-test-models.git
