defaults:
  - latent_ode_base
  - _self_

network:
  n_linear_layers: 4
  linear_hidden_dim: 16
  activation: torch.nn.ELU
  controls_to_decoder: true
  lat_states_dim: 16
  lat_parameters_dim: 16
  lat_controls_dim: 16
  lat_ode_type: 'variance_constant' 
  lat_state_mu_independent: true
  
training:
  # load pretrained model before training
  load_pretrained_model: false
  pre_trained_model_seq_len: null
  path_pretrained_model: ''
  # load trained model for testing
  load_trained_model_for_test: false
  path_trained_model: ''
  test_save_internal_variables: false
  weight_decay_override: 1e-5 # TODO: can be removed? Is none by default
  beta_start_override: 0.1
  save_predictions_in_dataset: false

  main_training:

  # pre training with 3 steps
  - batch_size: 800
    solver: euler
    lr_start: 1e-3
    max_epochs: 300
    early_stopping_patience: 80
    load_seq_len: null
    seq_len_train: 3

  # increase seq len to 10 steps
  - batch_size: 400
    solver: rk4
    lr_start: 1e-3
    max_epochs: 2000
    early_stopping_patience: 500
    seq_len_train: null
    seq_len_increase_in_batches: 100
    seq_len_increase_abort_after_n_stable_epochs: 10
    evaluate_at_control_times: false